
<div class="form-data">
<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title ,class:"field-area" %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author ,class:"field-area" %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body ,class:"field-area" %>
  </div>

  <div class="field">
    <%= form.label :published_on %>
    <%= form.date_select :published_on ,class:"field-area" %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url ,class:"field-area" %>
  </div>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true ,class:"field-area" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>
