<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<div class="container">
  <% @articles.each do |article| %>
  <main class="grid">
    <article>
      <%= image_tag("book.jpg", class:"img-fluid") %>
      <div class="text">
        <h3><%= article.title %></h3>
        <h4><%= article.author %></h4>
        <h5><%= article.published_on %></h5>
        <p><%= article.body %></p>
        <button href="#">Read More</button>
      </div>
      <%= link_to 'Show', article %>
    <%= link_to 'Edit', edit_article_path(article) %>
    <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
    </article>
  </main>
    
  <% end %>
  <%= link_to 'New Article', new_article_path %>
</div>

