

<div class="homepg-top">
  <h1>Maroon</h1>
  <p id="homepg">Welcome to Maroon.A place for all your Ruby and Rails related stories.</p>
</div>

<div class="wrap">
  <div class="wraphead">
  
  </div>

  <div class="wrap-content">
    <div class="pics">
      <%= image_tag ("maroon1.jpg"), class:"pic-det" %>
    </div>

    <div class="pics">
      <%= image_tag ("maroon2.jpg"), class:"pic-det" %>
    </div>

    <div class="pics">
      <%= image_tag ("maroon3.jpg"), class:"pic-det" %>
    </div>

    <div class="pics">
      <%= image_tag ("maroon4.jpg"), class:"pic-det" %>
    </div>

    <div class="pics">
      <%= image_tag ("maroon5.jpg"), class:"pic-det" %>
    </div>

    <div class="pics">
      <%= image_tag ("maroon6.jpg"), class:"pic-det" %>
    </div>
    
    <div class="pics">
      <%= image_tag ("maroon7.jpg"), class:"pic-det" %>
    </div>

    <div class="pics">
      <%= image_tag ("maroon8.jpg"), class:"pic-det" %>
    </div>

    <div class="pics">
      <%= image_tag ("maroon9.jpg"), class:"pic-det" %>
    </div>
  </div>
</div>